<p><%= @from_user.name %> commented on your movie</p>

<p>Movie: <%= @movie.title %></p>

<p>Comment: <%= @comment.body %></p>

<p>View comment at <%= movie_url(@movie) %></p>

<p>Regards,<br />
MovieBuddy</p>