<p><%= @from_user.name %> commented on your <%= @update.content.nil? ? "movie activity" : "update" %></p>

<p><%= @update.content.nil? ? "Movie: #{@movie.title}" : @update.content %></p>

<p>Comment: <%= @comment.content %></p>

<p>Regards,<br />
MovieBuddy</p>