<p><%= @from_user.name %> left a review for a movie you added</p>

<p>Movie: <%= @movie.title %></p>

<p>Review: <%= @review.body %></p>

<p>View review at <%= movie_url(@movie) %></p>

<p>Regards,<br />
MovieBuddy</p>