<% title "People #{@user.name} is following" %>

 <section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 page-title">
                <a href="javascript:history.go(-1)" id="ios-arrow-left">Back</a>                    
            </div>
            <!-- /.page-title -->
            <div class="col-xs-6 breadcrumb-wrapper">
                <% if @user == current_user %>
                    <h4 class="pull-right">Users you're following</h4>
                <% else %>
                    <h4 class="pull-right">Users <%= @user.name.split(" ").first %> is Following</h4>
                <% end %>
            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section id="portfolio-2" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div id="isotope-portfolio-container">
                <%= render :partial => 'users', locals: { users: @following } %>
            </div>
            <!-- /.isotope-portfolio-container -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>