<% title "#{@user.name} Followers" %>

 <section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 page-title">
                <% if @user == current_user %>
                    <h4>Your Followers</h4>
                <% else %>
                    <h4><%= @user.name.split(" ").first %>'s Followers</h4>
                <% end %>
                    
            </div>
            <!-- /.page-title -->
            <div class="col-xs-6 breadcrumb-wrapper">

            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section id="portfolio-2" class="section colored-wrapper">
    <div class="container">
        <div class="row">
            <div id="isotope-portfolio-container">
                <%= render :partial => 'user', :collection => @followers %>          	
            </div>
            <!-- /.isotope-portfolio-container -->
            <%= paginate @followers %>  
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>