<% title "Browse Users" %>

<section id="page-title-wrapper" class="section page-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-6 page-title">
               <h4>Browse Users</h4>
            </div>

            <!-- /.page-title -->
            <div class="col-xs-6 col-sm-9 col-md-6">
                <% render :partial => 'shared/search_form' %>
            </div>
            <!-- /.breadcrumb-wrapper -->
        </div>
        <!-- /.row -->
    </div>
<!-- /.container -->
</section>

<section id="portfolio-2" class="section colored-wrapper">
    <div class="container">
        <!-- /.portfolio-filter -->
        <div class="row">
            <div id="content">
                <div class="wrapper-1">
                    <div class="col-md-12">
                        <h5 class="subpage-title">Advertisement</h5>
                        <%= render 'shared/google_ads' %>
                    </div>
                </div>
                <div id="isotope-portfolio-container">
                    <%= render @users if @users.any? %>  
                </div>
                <!-- /.isotope-portfolio-container -->
                <div class="clearfix">
                    <%= paginate @users %>
                </div>
            </div>
            <!-- end content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>





