<h5 class="subpage-title">Genres</h5>
<ul class="portfolio-filter nav nav-pills">
    <li class="active"><a href="#" data-filter="*">All</a></li>
    <% genres.each do |genre| %>
        <% if genre.split.size > 1 %>
            <li><a href="#" data-filter=".<%= genre.split.join(".").downcase %>"><%= genre.capitalize %></a></li>
        <% else %>
            <li><a href="#" data-filter=".<%= genre.downcase %>"><%= genre.capitalize %></a></li>
        <% end %>
    <% end %>
</ul>
<!-- /.portfolio-filter -->