<% unless movies.nil? %>
    <% for movie in movies %>
      <div class="col-xs-6 col-sm-3 <%= controller_name == "users" ? "col-md-3" : "col-md-2" %>">
    <%= link_to image_tag(@tmdb.imageUrl('poster',size, movie.poster), class: "img-responsive"),movie_path(movie), class: "thumbnail" %>
  </div>
    <% end %>
<% end %>