<% unless movies.nil? %>
    <% for movie in movies %>
<div class="col-xs-12 col-sm-6 <%= controller_name == "home" ? "col-md-4" : "col-md-2" %> portfolio-item-wrapper">
<div class="portfolio-item">
    <div class="portfolio-thumb">
             <%= link_to image_tag(@tmdb.imageUrl('poster',size, movie.poster), class: "img-responsive"),movie_path(movie) %>
        
    </div>
    <% unless current_page?(controller: "home", action: "index") %>
    <div class="portfolio-content">
        <h5><%= movie.title %></h5>
    </div>
    <% end %>
</div>
</div>
    <% end %>
<% end %>
