<section id="recent-works" class="section <%= controller_name == "users" || controller_name == "home"  ? "colored-wrapper": "" %>">
    <div class="container wrapper-2">
        <h5 class="subpage-title">
            <span><%= controller_name == "home" ? "Upcoming Movies" : "Recent Movies" %></span>
            <!-- Controls -->
            <span id="portfolio-next" class="next black">
                <i class="icon-angle-right"></i>
            </span>
            <span id="portfolio-prev" class="prev black">
                <i class="icon-angle-left"></i>
            </span>
        </h5>
        <div class="row">
            <div id="<%= controller_name == "home" ? "caroufredsel-portfolio-container-home" : "caroufredsel-portfolio-container"%>">
                
                <%= render :partial => 'shared/movies', locals: { movies: movies, size: size } %>
                <!-- /.portfolio-item-wrapper -->
            </div>
            <!-- /.caroufredsel-portfolio-container -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>