<%= form_tag(movies_path, method: :get, id: "#{ controller_name == "home" || controller_name == "movies" && action_name == "show" ? "" : "movie_search"}") do  %>
	<div class="form-group">
		<%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search for movies to add" %>
		<button type="submit" id="search-btn" class="btn"><i class="icon-search"></i></button>
	</div>
<% end %>
