// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space{
	margin-top: 5px;
}
.signin-facebook, .signin-google, .signin-twitter{
	background: url(sprites.png) no-repeat;
}

.signin-facebook{
	background-position: 0 0;
	width: 162px;
	height: 29px;
}

.signin-google{
	background-position: 0 -62px ;
	width: 162px;
	height: 29px;
}

.signin-twitter{
	background-position: 0 -31px ;
	width: 162px;
	height: 29px;
}