.nav-pills.nav-stacked > li {
	margin-bottom: 10px;
}

.nav-pills.nav-stacked > li > a {
	padding: 15px 20px;
}

.social-icon{
	font-size: 20px;
	margin-right: 15px;
}

.profile-stats{
	font-size: 18px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #2c3e50;
	cursor: pointer;
}

.profile-stats span a {
	display: block;
	color: #c0392b;
}

.see-all {
	color: #c0392b !important;
	text-transform: lowercase;
}