<div id="skin-chooser-container" class="skin-chooser-container">
    <a data-toggle="modal" href="#myModal" class="skin-chooser hidden-xs">
        <i class="icon-cog"></i>
    </a>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">CHOOSE COLOR SKIN</h4>
                </div>
                <div class="modal-body">
                    <div class="skins-wrapper">
                        <ul class="list-inline">
                            <li>
                                <div id="color-skin-1" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-2" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-3" class="color-skin active"></div>
                            </li>
                            <li>
                                <div id="color-skin-4" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-5" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-6" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-7" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-8" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-9" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-10" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-11" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-12" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-13" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-14" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-15" class="color-skin"></div>
                            </li>
                            <li>
                                <div id="color-skin-16" class="color-skin"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>