<ul class="social-links">
    <li>
    	<a href="https://www.facebook.com/Your.Movie.Buddy" target="_blank">
    		<i class="icon-facebook"></i>
    	</a>
    </li>
    <li>
    	<a href="https://plus.google.com/b/115556272872532573673/?hl=en" target="_blank">
    		<i class="icon-google-plus"></i>
    	</a>
    </li>
    <li>
    	<a href="#"><i class="icon-twitter"></i></a>
    </li>
</ul>
<!-- /.social-links -->
